# ========================================
# CORO PROJECT - 管理画面 Basic 認証
# ========================================

AuthType Basic
AuthName "CORO PROJECT Admin"
AuthUserFile /home/sites/coroproject/web/coroproject_jp/admin/.htpasswd
Require valid-user
